body {
  display: grid;
  grid-template-columns: auto-fit auto-fit;
  grid-template-rows: 2fr  1fr 1fr;
  grid-template-areas:  "main left-nav"
                        "main modal-call"
                        "main modal-feedback";
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: TTLakes, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  background-color: white;
  color: $text;
}

.main{
  grid-area: main;
  background-color: $bgColor;
}



@media (min-width: $screen-lg) {
  body{
  grid-template-areas:  "left-nav  main"
                        "modal-call main"
                        "modal-feedback main";
  
                     
  }
    
}