.main-title-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.highlight {
  display: block;
  width: 3px;
  height: 40px;
  background-image: url(../ic/highlight.png);
  background-repeat: no-repeat ;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;  
}  

.main-title__title{
  padding:15px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-weight: 600;
}

