.service-brand {
 
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 210px;
  max-width: 767px; 
  position: relative; 
   
  .service-title{
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
    border-top: 1px solid #D9FFF5;
    height: 56px;
    text-transform: uppercase; 
    flex-shrink: 0;  
  }
  
  .service-title__item{
    font-size: 16px;
    padding-left: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;     
  }
       
  .btn-more{
    display: none;
    margin-left: 20px;
  }  
  
  .swiper-brand{
    width: 94%;
    padding-bottom: 0;  
      
  }

  .swiper-brand::before{
    content: '';
    background: linear-gradient(90deg, $bgColor 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    width: 24px ;
    height: 72px;
    background-repeat: no-repeat; 
    
    position: absolute;  
    top: 74px; 
    left: 0;
    z-index: 1;
  }

  .swiper-brand::after{
    content: '';
    background: linear-gradient(270deg, $bgColor 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    width: 24px ;
    height: 72px;
    background-repeat: no-repeat; 
      
    position: absolute; 
    top: 74px;
    right: 0;
    z-index: 1;
  }
  

  .service-nav{
    
    padding:  20px;
    padding-right: 0;     
    height: 80px;   
    width: 88vw;
    overflow: visible;      
  }         
      
  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;        
    
  }
    
  .swiper-pagination{
    position: relative;
    top: -10px;
    z-index: 0; 
    
  }

    .swiper-slide{
      width: 240px;
    }

  @media (min-width: $screen-md) {
  
    max-width: fit-content;
    height: 100%;
    padding-bottom: 10px;  

    .service-nav{   
    display: flex; 
    flex-direction: row; 
    gap: 24px;
    flex-wrap: wrap;    
    width: 100%; 
    height: 100%;
    overflow: hidden;    
    }

    .swiper-brand{
      height: 210px;
    }

    .btn-more{
      display: flex;
    }

    .swiper-slide{
      width: 224px;
      @media (min-width: $screen-lg) {
        width: 240px;
      } 
    }

    .swiper-brand::before{
      display: none;
    } 
    .swiper-brand::after{
      display: none;
    }
  }
}

.slide-brand{
  display: flex;
  justify-content: flex-end;  
  align-items: center;      
  width: 240px;   
  height: 72px;
  border-radius: 6px;
  background-color: $bgClrModal; 
  border: 1px solid $border;
  padding: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x:14px;
  
  
}

.slide-brand_lenovo{
  background-image: url(../ic/lenovo.png);  
}

.slide-brand_sumsung{
  background-image: url(../ic/samsung.png);  
}

.slide-brand_apple{
  background-image: url(../ic/apple.png);   
}

.slide-brand_viewsonic{
  background-image: url(../ic/viewsonic.png);  
}

.slide-brand_bosh{
  background-image: url(../ic/bosh.png);  
}

.slide-brand_hp{
  background-image: url(../ic/hp.png);  
}

.slide-brand_acer{
  background-image: url(../ic/acer.png);  
}

.slide-brand_sony{
  background-image: url(../ic/sony.png);  
}
