.service-category {

  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 98vw;
  position: relative;

  

  .swiper-category{
    height: 300px;
  }

  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    
  }
 
  .swiper-pagination{
    position: relative;
    top: 80px;
    z-index: 0;  
  }

  .swiper-slide{
    width: 240px;
  }

  .swiper-category::before{
    content: '';
    background: linear-gradient(90deg, $bgColor 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    width: 24px ;
    height: 210px;
    background-repeat: no-repeat; 
    
    position: absolute;  
    top: 74px; 
    left: 0;
    z-index: 1;
  }

  .swiper-category::after{
    content: '';
    background: linear-gradient(270deg, $bgColor 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    width: 24px ;
    height: 210px;
    background-repeat: no-repeat; 
      
    position: absolute; 
    top: 74px;
    right: 0;
    z-index: 1;
  }


  .service-nav{
    
    padding: 20px;
    padding-right: 0;     
    height: 80px;   
    width: 92vw;
    overflow: visible;  
  }

  .btn-more{
    display: none;
    margin-left: 20px;
  }  
  
 

  @media (min-width: $screen-md) {
    
      max-width: fit-content;
      height: 100%;
      padding-bottom: 10px;
      .service-nav{   
      display: flex; 
      flex-direction: row; 
      gap: 24px;
      flex-wrap: wrap;    
      width: 100%; 
      height: 100%; 
      overflow: hidden;   
      }

      .swiper-category{
        height: 200px;
      }

      .btn-more{
        display: flex;  
      }

      .swiper-slide{
        width: 240px;
        @media (min-width: $screen-lg) {
          width: 240px;        
        }
      }

      .swiper-category::before{
        display: none;
      } 
      .swiper-category::after{
        display: none;
      }
  }
}


.slide-category{
  
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 240px;   
    height: 160px;
    border-radius: 6px;
    background-color: white; 
    border: 1px solid $border;
    padding: 14px;  
   
}  