.service-category {

  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 98vw;

  .swiper-slide{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 240px;   
    height: 160px;
    border-radius: 6px;
    background-color: white; 
    border: 1px solid $border;
    padding: 14px;  
   
  }

  .swiper-category{
    height: 300px;
  }

  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    
  }
 
  .swiper-pagination{
    position: relative;
    top: 80px;
    z-index: 0;
   
    
  }

  .service-nav{
    
    padding: 20px;
    padding-right: 0;     
    height: 80px;   
    width: 92vw;
    overflow: visible;  
  }

  .show-more{
    display: none;
  }

  @media (min-width: $screen-md) {
    
      max-width: fit-content;
      height: 100%;
      padding-bottom: 10px;
      .service-nav{   
      display: flex; 
      flex-direction: row; 
      gap: 24px;
      flex-wrap: wrap;    
      width: 100%; 
      height: 100%; 
      overflow: hidden;   
      }

      .swiper-category{
        height: 200px;
      }

      .show-more{
        display: flex;  
      }

      .swiper-slide{
        width: 240px;
        @media (min-width: $screen-lg) {
          width: 240px;        
        }
      }
  }
}


  