
//это надо вынести
.btn-send{
  width: 136px;
  height: 32px;
  padding: 0 ;
  background-image: url(../ic/send.png);
  align-self: end;
}

/// это надо вынести
.service-title{
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
  border-top: 1px solid #D9FFF5;
  height: 56px;
  text-transform: uppercase;
  flex-shrink: 0;   
}
 /// это надо вынести
.service-title__item{
  font-size: 16px;
  padding-left: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;     
}

/// это надо вынести
.btn-go{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;      
  border: 2px solid $bgnBtn;
  align-self: end;   
  
  span{
    display: block;
    width: 8px;
    height: 8px;
    rotate: 45deg;
    border: 2px solid $bgnBtn;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0;
    position: relative;
    top: 14px;
    left: 14px;
  }
}

.link-btn-brd  {
  display: block;
  padding: 10px 20px;  
  color:#1B1C21;
  white-space: nowrap;
  font-size: 16px;
  letter-spacing: -0.2px; 
  line-height: 24px;
  border: 2px solid $bgColor;
  border-radius: 6px;
}

.link-btn-brd:hover, .link-btn-brd:focus {
  color: #7E7E82;
  background-color: $bgClrModal;
  background-image: unset;
  border: 2px solid $lnkclr;    
}


.icon-show{
  background-image: url("../ic/expand.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
  transition-duration: 1200ms;
}


.btn-more{
  display: flex;
  width: fit-content;
  height: 24px;
  vertical-align: middle;
  padding: 0;  
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: bold;  
  border: 2px solid $bgColor;  
  border-radius: 3px;
  color: $text;  
  padding-right:  8px;
  

  
}

.btn-more:hover,.btn-more:focus {
  color: #7E7E82;
  background-color: $bgClrModal;
  background-image: unset;
  border: 2px solid $lnkclr;
  border-radius: 3px;
}

.btn-oval{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 32px;
  padding-left: 14px;
  padding-right: 16px;
  gap:20px;
  background-color: $bgnBtn;
  border-radius: 16px;
  vertical-align: middle;
  text-align: left;
  color: $bgClrModal;
  align-self: end;
  transition: 600ms;    
  span{
    display: block;
    width: 8px;
    height: 8px;
    rotate: 45deg;
    border: 2px solid $bgClrModal;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0;    
  }

}

.btn-oval:hover, .btn-oval:focus {
  transform:scale(1.1);
}