.footer{
  padding:20px;
  border-top: 1px solid #D9FFF5;
  gap:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  color:#7E7E82 ;
  text-align: center;
  @media (min-width: $screen-md) {
    flex-direction: row;
    .copyright{
      text-align: left;
    }
    .offer{
      text-align: right;
    }
    p{
      width: 30%;
    }
 }
}

