.modal-feedback{
  grid-area: modal-feedback;
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: 320px;
  padding:16px;
  background-color: $bgClrModal;

  
  
  .round-icon_close{
    display: block;
    }

  .lnk-in-text{
    color: #FF3E79;
  }

  .btn-send{
    width: 136px;
    height: 32px;
    padding: 0 ;
    background-image: url(../ic/send.png);
    align-self: end;
  }
  

  .input{
    min-height: 48px;       
  }

  input::placeholder {
    padding: 12px;
  }
  

}