.navigation{
  display: flex;
  overflow: hidden; 
  padding-left: 20px; 
  width: 100%;
}
.nav-list{
  display: flex;  
  flex-wrap: no-wrap;
  overflow: hidden;
  overflow-x: scroll; 
  width: 100vw;  
}


.nav-list::before{
  content: '';
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  width: 24px ;
  height: 81px;
  background-repeat: no-repeat;
  background-position: right top;
  position: absolute;
  right: 0;
  z-index: 20;
}



@media (min-width: $screen-lg) {

  .nav-list{
    flex-wrap: wrap;
    overflow: hidden;
  }
}