.navigation{
  display: flex;
  overflow: hidden; 
  padding-left: 20px; 
  width: 100%;
  position: relative;
 
}
.nav-list{
  display: flex;  
  flex-wrap: no-wrap;
  overflow: hidden;
  overflow-x: scroll; 
  width: 100vw; 
  position: relative; 
}


.navigation::before{
  content: '';
  background: linear-gradient(90deg, $bgColor 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  width: 24px ;
  height: 48px;
  background-repeat: no-repeat;  
  position: absolute;   
  left: 20px;
  z-index: 1;
}

.navigation::after{
  content: '';
  background: linear-gradient(270deg, $bgColor 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  width: 24px ;
  height: 48px;
  background-repeat: no-repeat;     
  position: absolute;   
  right: 0;
  z-index: 1;
}



@media (min-width: $screen-lg) {

  .nav-list{
    flex-wrap: wrap;
    overflow: hidden;
  }
}