.show-more{
  display: flex;
  padding:16px;
  padding-left: 15px;
  background-color: $bgColor;
  
}

.icon-show{
  background-image: url("../ic/expand.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
  transition-duration: 1200ms;
}


.btn-more{
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: bold;
  background-color:$bgColor; 
  color: $text;  
  border-radius: 3px; 
  
}

.btn-more:hover, .link-btn-brd:focus {
  color: #7E7E82;
  background-image: unset;
  border: 2px solid $lnkclr;
} 