.show-more{
  display: flex;
  padding:8px;  
  background-color: $bgColor;
  border: 2px solid $bgColor; 
  width: fit-content;
  position: relative;
  left: 20px; 
  
}

.icon-show{
  background-image: url("../ic/expand.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
  transition-duration: 1200ms;
}


.btn-more{
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: bold;    
  border-radius: 3px;
  color: $text;  
   
  
}

.show-more:hover,.show-more:focus {
  color: #7E7E82;
  background-color: $bgClrModal;
  background-image: unset;
  border: 2px solid $lnkclr;
  border-radius: 3px;
}